  body {
    background-color: black;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  
  #flexbox {
    height: 100%;
    flex-flow: column;
    display: flex;
  }
  
  table {
    border: 0px;
  }
  
  th {
    color: green;
    border-bottom: solid white 1px;
    border-right: solid white 1px;
    border-top: solid white 1px;
  }
  
  th:first-child {
    border-left: solid white 1px;
  }
  
  tr {
    border: 0px;
  }
  
  td {
    font-family: monospace;
    border-bottom: solid white 1px;
    border-right: solid white 1px;
    color: green;
    padding: 2px;
  }
  
  td:first-child {
    border-left: solid white 1px;
  }
  
  pre {
    font-family: monospace;
  }
  
  #log {
    background-color: black;
    color: green;
    margin: 0px;
    border: 0px;
    height: 100%;
    font-family: monospace;
    overflow-y: scroll;
    flex: 0 1 auto;
    padding: 10px;
  }
  
  #inputArea {
    flex: 0 1 25px;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  
  input[type=text] {
    background-color: black;
    color: gainsboro;
    width: 100%;
    font-family: monospace;
  }
  
  .green {
    color: green;
  }
  
  .red {
    color: red;
  }
  
  .aqua {
    color: aqua;
  }
  
  .cyan {
    color: cyan;
  }
  
  .darkCyan {
    color: darkcyan;
  }
  
  .gray {
    color: gray;
  }
  
  .silver {
    color: silver;
  }
  
  .white {
    color: white;
  }
  
  .purple {
    color: purple;
  }
  
  .teal {
    color: teal;
  }
  
  .mediumOrchid {
    color: mediumorchid;
  }
  
  .olive {
    color: olive;
  }
  
  .gainsboro {
    color: gainsboro;
  }
  
  .firebrick {
    color: firebrick;
  }
